
#footer-sitemap {
  margin: 0 1em;
}

#footer-sitemap ul {
  float: left;
  margin: 0;
  padding: 0;
}

#footer-sitemap ul li {
  margin-right: 6em;
  list-style: none;
}

#footer-sitemap ul li li {
  float: none;
  margin: 0;
  padding: 0;
}

#footer-sitemap ul li ul {
  margin: 0;
  padding: 0;
}

#footer-sitemap ul li ul li.leaf {
  list-style-image: none;
}

#footer-sitemap h2 {
  font-size:1.1em;
  font-weight:normal;
  margin:0 0 1em;
  padding:0 0 0 1em;
}

#footer-sitemap a {
  font-size: .8em;
  text-decoration: none;
}

#footer-sitemap a.fs-root-link{
  font-size: 1em;
  line-height: 1.5em;
}

#footer-sitemap ul.menu li {
  line-height: 1em;
}

#footer-sitemap div.clear {
  padding-top: 1em;
}

#footer-sitemap ul.menu li ul.menu li {
  font-weight: bold;
}

#footer-sitemap ul.menu li ul.menu li ul.menu li {
  font-weight: normal;
  padding-left: .4em;
}

/*Addded custom float for footer logo*/
#dniLogo{
  float: right;
  clear: both;
  margin-right: 5em;
}

/*Links div added to seperate main-menu from other content links in site map*/
#linksDiv{
  float: left;
}
/*Address div added to display location information*/
#addressDiv{
  float: left;
}