/* This file will hold styles that are loaded using the same media query as the wide grid. */

/*adjusts the location of the main-menu links*/
#superfish-1{
   margin-left: 9em;
}

/*added to over-ride the disabling of the slide show in narrow media query*/
#region-sidebar-second{
   display: inline;
}

/*Added to over-ride the narrow media querry setting for main page content*/
#region-content{
   margin: auto;
}