/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

#zone-branding{
   
   background: url(../images/dniBannerNarrow.jpg) center top;
   background-repeat:no-repeat;
   width: auto;
   height:225px;
   display: block; margin-left: auto; margin-right: auto;
}

#zone-menu{
   padding-bottom: 30px;
   padding-top:    30px;
}

/*adjusts the location of the main-menu links*/
#superfish-1{
   margin-left: 2em;
}