/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body{
   background: rgb(169,228,247); /* Old browsers */
   background: -moz-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%, rgba(43,82,212,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(43,82,212,1))); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(43,82,212,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(43,82,212,1) 100%); /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(43,82,212,1) 100%); /* IE10+ */
   background: radial-gradient(ellipse at center,  rgba(169,228,247,1) 0%,rgba(43,82,212,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#2b52d4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   background-size: cover;
}

#zone-branding{
   
   background: url(../images/dniBannerWide.jpg) center top;
   background-repeat:no-repeat;
   width: auto;
   height:225px;
   display: block; margin-left: auto; margin-right: auto;
}

#zone-menu{
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
}

#zone-footer{
   padding-top: 15px;
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
}

#zone-content{
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
   padding-bottom: 15px;
}

.block-title{
   display: none;
}

/*removed the titles from the content posts*/
.node-title{
   display: none;
}