/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body{
   background: rgb(169,228,247); /* Old browsers */
   background: -moz-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%, rgba(43,82,212,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(43,82,212,1))); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(43,82,212,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(43,82,212,1) 100%); /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(43,82,212,1) 100%); /* IE10+ */
   background: radial-gradient(ellipse at center,  rgba(169,228,247,1) 0%,rgba(43,82,212,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#2b52d4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   background-size: cover;
}

#page-title{
   display: none;
}

#zone-branding{
   
   background: url(../images/dniBannerWide.jpg) center top;
   background-repeat:no-repeat;
   width: auto;
   height:225px;
   display: block; margin-left: auto; margin-right: auto;
}

#zone-menu{
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
}

#zone-footer{
   padding-top: 15px;
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
}

#zone-content{
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
   padding-bottom: 15px;
}
/*Added to customize the shape of the text field.*/
#edit-submitted-first-name{
   -webkit-border-radius: 30px;
   border-radius: 30px;
   margin-left: 25px;
}

#edit-submitted-last-name{
   -webkit-border-radius: 30px;
   border-radius: 30px;
   margin-left: 25px;
}

#edit-submitted-e-mail-address{
   -webkit-border-radius: 30px;
   border-radius: 30px;
   margin-left: 25px;
}

#edit-submitted-message{
   -webkit-border-radius: 10px;
   border-radius: 10px;
   margin-left: 25px;
   width: 500px;
}
   .grippie{/*added to fix the dragable bar under the message box.*/
      margin-left: 25px;
      width:   500px;
   }
   
#edit-submit{
   margin-left:   20px;
}

/*End customization for the shape of text fields*/

/*Added to move the margins in line with text area fields.*/
.description{
   margin-left: 30px;
}

label{
   margin-left: 30px;
}
/*End margin settings for contact us form.*/

/*Changed to edit the margins of the ul tags on the fisrt page*/
ul{
   margin-left: 60px;
}
/*Changed the margin indent for the content div*/
p{
   margin-left: 60px;
}

.block-title{
   display: none;
}

/*removed the titles from the content posts*/
.node-title{
   display: none;
}

/*Removed the footer for optimum viewing pleasure.*/
#footer-sitemap{
   display: inline;
}
