/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

#zone-branding{
   
   background: url(../images/dniBannerNormal.jpg) center top;
   background-repeat:no-repeat;
   width: auto;
   height:225px;
   display: block; margin-left: auto; margin-right: auto;
}

/*adjusts the location of the main-menu links*/
#superfish-1{
   margin-left: 0em;
}

/*added to over-ride the disabling of the slide show in narrow media query*/
#region-sidebar-second{
   display: inline;
}

/*Added to over-ride the narrow media querry setting for main page content*/
/*Added styled border background*/
#region-content{
   margin: auto;
   border-radius: 120px 20px;
   background: rgb(246,246,246); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(246,246,246,1) 0%, rgba(227,229,232,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(227,229,232,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(227,229,232,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(227,229,232,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(227,229,232,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(246,246,246,1) 0%,rgba(227,229,232,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e3e5e8',GradientType=0 ); /* IE6-9 */
}

/*Added to remove footer logo image in narrow view*/
#dniLogo{
   display: inline;
}
