/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body{
   background-image: url(../images/bg.jpg);
   background-size: cover;
}

#zone-branding{
   
   background: url(../images/dniBannerWide.jpg) center top;
   background-repeat:no-repeat;
   width: auto;
   height:225px;
   display: block; margin-left: auto; margin-right: auto;
}

#zone-menu{
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
}

#zone-footer{
   padding-top: 15px;
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
}

#zone-content{
   background-image:  url(../images/contentBG.jpg);
   background-size:   cover;
   padding-bottom: 15px;
}
.block-title{
   display: none;
}

/*removed the titles from the content posts*/
.node-title{
   display: none;
}