/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*Added to remove the slideshows from mobile first layout*/
#region-sidebar-second{
   display: none;
}
/*Added to remove the logo from mobile first footer layout*/
#dniLogo{
   display: none;
}
/*Removed the node titles for the content section*/
.node-title{
   display: none;
}
/*Removed the block titles for the content section*/
.block-title{
   display: none;
}
/*Removed the page titles as they were not needed in the mobile layout.*/
#page-title{
   display: none;
}

/*Styling the dropdown menu to add some flare*/
#superfish-1-select{
   width: 100%;
   height: 34px;
   font-family: Gputeks-Bold, Helvetica, Arial, sans-serif;
   padding-left: 10px;
   overflow: hidden;
   background: url(../images/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   margin-bottom: 1em;
   -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*Removed the footer for optimum viewing pleasure.*/
#footer-sitemap{
   display: none;
}
/*This changes the line-height for the what we offer page*/
#wwoffer{
   line-height: 2em;
}
/*Changed to edit the margins of the ul tags*/
ul{
   margin-left: 60px;
}

/*Added to customize the shape of the text field.*/
#edit-submitted-first-name{
   -webkit-border-radius: 30px;
   border-radius: 30px;
   margin-left: 25px;
}

#edit-submitted-last-name{
   -webkit-border-radius: 30px;
   border-radius: 30px;
   margin-left: 25px;
}

#edit-submitted-e-mail-address{
   -webkit-border-radius: 30px;
   border-radius: 30px;
   margin-left: 25px;
}

#edit-submitted-message{
   -webkit-border-radius: 10px;
   border-radius: 10px;
   margin-left: 25px;
   width: 500px;
}
   .grippie{/*added to fix the dragable bar under the message box.*/
      margin-left: 25px;
      width:   500px;
   }
   
#edit-submit{
   margin-left:   20px;
}

/*End customization for the shape of text fields*/

/*Added to move the margins in line with text area fields.*/
.description{
   margin-left: 30px;
}

label{
   margin-left: 30px;
}
/*End margin settings for contact us form.*/