/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*Added to remove the slideshows from mobile first layout*/
#region-sidebar-second{
   /*display: none;
}
/*Added to remove the logo from mobile first footer layout*/
#dniLogo{
   display: none;
}
/*Removed the node titles for the content section*/
.node-title{
   display: none;
}

.block-title{
   display: none;
}
/*Styling the dropdown menu to add some flare*/
#superfish-1-select{
   width: 100%;
   height: 34px;
   font-family: Gputeks-Bold, Helvetica, Arial, sans-serif;
   padding-left: 10px;
   overflow: hidden;
   background: url(../images/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   margin-bottom: 1em;
   -webkit-border-radius: 10px;
    border-radius: 10px;
}